header{
    width: 100%;
    height: 664px;
    background-image: url('../../../images/header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center ;
        gap: 50px;
        h1 {
            font-weight: 400;
            font-size: 70px;
            color: white;
            letter-spacing: 0.68px;
            span {
                font-size: 68px;
            }
        }
        p {
            color: white;
            font-weight: 400;
                font-size: 21px;
                max-width: 590px;
        }
        .buttons-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .start-button {
                @include start-building-button
            }
            .classic-button {
                @include classic-button
            }
        }
    }

}